<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.controller">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="OIgTLNIOEjqbbTBFxcyKXIngwUh1n6X5" />

        <activity android:name=".activity.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="keyboardHidden" />
        <activity android:name=".activity.zhuye.SearchActivity" />
        <activity android:name=".activity.zhuye.RebangActivity" />
        <activity android:name=".activity.RegistActivity" />
        <activity android:name=".activity.zhuye.QuestionActivity" />
        <activity android:name=".activity.geren.Setting.SettingActivity" />
        <activity android:name=".activity.geren.Review.ReviewActivity" />
        <activity android:name=".activity.geren.Mymessage.MyMessageActivity" />
        <activity android:name=".activity.geren.WaitHelp.WaitHelpActivity" />
        <activity android:name=".activity.geren.Finish.FinishHelpActivity" />
        <activity android:name=".activity.zhuye.TuijianActivity" />
        <activity android:name=".activity.chat.ChatMessageActivity" />
        <activity android:name=".activity.chat.SearchPeopleActivity" />
        <activity android:name=".activity.geren.Finish.FHapplyActivity" />
        <activity android:name=".activity.geren.Review.RVhaveActivity" />
        <activity android:name=".activity.geren.Finish.FHacceptActivity" />
        <activity android:name=".activity.geren.WaitHelp.WHacceptActivity" />
        <activity android:name=".activity.geren.WaitHelp.WHapplyActivity" />
        <activity android:name=".activity.geren.Review.RVwaitActivity" />
        <activity android:name=".activity.geren.Setting.LocationActivity" />
        <activity android:name=".activity.geren.Mymessage.UpdataMyMessageActivity" />
        <activity android:name=".activity.geren.Setting.UpdataPassawordActivity" />
        <activity android:name=".activity.geren.Mymessage.UpdataPhoto"/>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <provider
            android:authorities="com.example.administrator.controller.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        
    </application>

</manifest>